@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, Helvetica, sans-serif;
}

.bgImage {
    background-image: url("../img/castoriceBG.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}
